<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node_shoes</title>
</head>
<body>
    <form action="/register" method="POST">
        <input type="email" name="email" placeholder="Escribe tu email" autofocus >
        <input type="password" name="password" placeholder="Escribe tu password">
        <button>
            send
        </button>
    </form>
</body>
</html>